{% extends "base.html" %}

{% block content %}
<div class="testimonials-container">
    <h1>Customer Testimonials</h1>
    
    <div class="testimonial">
        <p class="quote">"Great products and excellent customer service. I'll definitely be ordering again!"</p>
        <p class="author">- Sarah Johnson</p>
    </div>
    
    <div class="testimonial">
        <p class="quote">"Fast shipping and high-quality items. Highly recommended!"</p>
        <p class="author">- Michael Chen</p>
    </div>
    
    <div class="testimonial">
        <p class="quote">"Best online shopping experience I've had. Will be a loyal customer."</p>
        <p class="author">- Emily Rodriguez</p>
    </div>
</div>
{% endblock %}
